<div class="container p-3">
  <div class="row">
    <div class="col-10">
      <h1><span>下書き一覧</span></h1>
        <div class="d-flex flex-wrap">
          <% @books.each do |book| %>
          <div class="mx-2 mb-4">
            <br>
            <%=link_to admin_book_path(book.id) do %>
              <%= image_tag book.image_url, style: "object-fit: cover; width: 180px; height: 120px;" %>
            <% end %>
            <br>
            <strong>絵本の名前：<%= book.title %></strong> <br>
            あらすじ：<%= book.item_caption %>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container p-3">
  <div class="row">
    <div class="col-10">
      <%=link_to "公開済みの一覧へ戻る", admin_books_path, class: "mb-2;", style: "font-size: 15px;" "color: #3B240B" %>
    </div>
  </div>
</div>
