<div class="container p-3">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <h3>絵本一覧</h3>
          <div class="row justify-content-end mb-3">
            <div class="col-2">
              <%= link_to '+', new_admin_book_path, class: "title-background btn rounded-circle border-right border-bottom shadow btn-dark" %>
              <div class="d-flex flex-wrap">
                <% @books.each do |book| %>
                  <div class="mx-2 mb-4">
                    <%= link_to admin_book_path(book.id) do %>
                      <%= image_tag book.get_book_image(180, 120), style: "object-fit: cover; width: 180px; height: 120px;" %>
                    <% end %>
                    <p>絵本の名前：<%= book.title %></p>
                    <p>あらすじ：<%= book.item_caption %></p>
                  </div>
                <% end %>
                <%= paginate @books %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%=link_to "下書き一覧", confirm_admin_books_path %>

