<div class="container p-3">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <h3>絵本一覧</h3>
          <div class="row justify-content-end mb-3">
            <div class="col-2">
              <%= link_to '+', new_admin_book_path, class: "title-background btn rounded-circle border-right border-bottom shadow btn-dark" %>
              <div class="d-flex flex-wrap">
                <% @books.each do |book| %>
                  <div class="mx-2 mb-4">
                    <%= link_to admin_book_path(book.id) do %>
                      <%= image_tag book.image_url, style: "object-fit: cover; width: 180px; height: 120px;" %>
                    <% end %>
                    <p>絵本の名前：<%= book.title %></p>
                    <p>あらすじ：<%= book.item_caption %></p>
                  </div>
                <% end %>
                <%= paginate @books %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%=link_to "下書き一覧", confirm_admin_books_path %>

<% @result.each do |data| %>
  -------------<br><br>
  <%= data.inspect %><br>
  ##########<br><br>
  title:<%= data.title %><br>
  author:<%= data.author %><br>
  item_caption: <%= data.item_caption %><br>
  image:<%= image_tag data.medium_image_url %><br>
  <%= form_with model: Book.new, url: admin_books_path do |f| %>
    <%= f.hidden_field :title, value: data.title %>
    <%= f.hidden_field :item_caption, value: data.item_caption %>
    <%= f.hidden_field :isbn, value: data.isbn %>
    <%= f.hidden_field :author, value: data.author %>
    <%= f.hidden_field :url, value: data.item_url %>
    <%= f.hidden_field :image_url, value: data.medium_image_url.gsub('?_ex=120x120', '') %>
    <%= f.submit "この本を登録" %>
  <% end %>
<% end %>

<%= form_with url: admin_books_path, method: :get do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

