<div class="mx-2 mb-5">
  <!-- 検索キーワードの表示 -->
  <% if params[:word].present? %>
    <p>検索キーワード: <%= params[:word] %></p>
  <% end %>

  <!-- 選択したカテゴリの表示 -->
  <% if @searched_category.present? %>
    <p>選択したカテゴリ: <%= @searched_category.name %></p>
  <% else %>
    <p>aaaaa</p>
  <% end %>
</div>

<h1 class="mt-3"><span>検索結果</span></h1>
  <div class="search-books d-flex flex-wrap">
    <% books.each do |book| %>
      <div class="mx-2 mb-4">
        <br>
        <% if admin_signed_in? %>

          <%= link_to admin_book_path(book.id) do %>
            <%= image_tag book.image_url, style: "object-fit: fill; width: 180px; height: 120px;" %>
          <% end %>

        <% else %>

          <%= link_to book_path(book.id) do %>
            <%= image_tag book.image_url, style: "object-fit: fill; width: 180px; height: 120px;" %>
          <% end %>

        <% end %>
        <p><strong><%= book.title %></strong></p>
        <p><%= book.item_caption %></p>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate books %>
  </div>