<table class="table table-hover table-inverse">
  <!--検索対象モデルがCategoryの時 -->
  <% if @range == "Category" %>
    <h2>検索ワード： "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>表紙</th>
        <th>カテゴリ区分</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag book.image_url, style: "object-fit: cover; width: 180px; height: 120px;" %></td>
        <td>
          <% @book.categories.each do |category| %>
            <%= category.name %> &emsp; <!-- カテゴリ名とスペースを追加 -->
          <% end %>
        </td>
      </tr>
    </tbody>
  <% else %>
    <!--検索対象モデルがCategoryではない時(= 検索対象モデルがBookの時) -->
    <thead>
      <tr>
        <th>タイトル</th>
        <th>あらすじ</th>
      </tr>
    </thead>
    <tbody>
      <h2>Books search for "<%= @word %>"</h2>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title , book_path(book.id) %></td>
          <td><%= book.item_caption %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
