<div class="container pt-5 pb-5">
  <div class="row">
    <%= render "public/books/category", categories: @categories %>
      <div class="col-10">
        <div class="main-visual-cover mx-auto">
          <div class="main-visual">
            <h3 class="mt-5 ml-5">ようこそ、えらんで えほんへ!</h3>
            <p class="mt-5 ml-5">このサイトは、こどもの大好きな絵本をみつける<br>
            ママやパパのための<br>
            口コミ＆コミュニティサイトです。</p>
          </div>
        </div>
        <br>
        <br>
      <h3 class="mt-3 ml-5">新着絵本</h3>
      <div class="d-flex justify-content-center" >
        <% @books.each do |book| %>
          <div class="mx-2 mb-4">
            <%= link_to book_path(book.id) do %>
              <%= image_tag book.get_book_image(240, 160), style: "object-fit: cover; width: 240px; height: 160px;" %>
            <% end %>
              <p><%= book.title %></p>
          </div>
        <% end %>
      </div>
    <div class="row justify-content-end">
      <i class="fa-solid fa-book mt-1 mr-1"></i>
        <%= link_to '全てのえほんを見る>', books_path, class: "text-reset" %>
    </div>
  </div>
</div>
