<div class="container p-3">
  <div class="row">
    <div class="col">
      <h1 class="my-5"><%= @member.nickname %>さんのお気に入り一覧</h4>
        <div class="d-flex flex-wrap">
            <% if @favorite_books.present? %>
              <% @favorite_books.each do |book| %>
                <div class="mx-2 mb-4">
                  <%= link_to book_path(book.id) do %>
                    <%= image_tag book.image_url, style: "object-fit: cover; width: 180px; height: 120px;" %>
                  <% end %>
                  <p><%= book.title %></p>
                </div>
              <% end %>
            <% else %>
              <p>お気に入り登録している絵本はありません。</p>
            <% end %>
        </div>
          <%= paginate @books %>
      </div>
  </div>
</div>