<div class="row justify-content-center">
<%= form_with model: @book, local: true do |f| %>
  <table class="table table-borderless">
    <tr>
      <td><%= f.label :絵本画像 %></td>
      <td><%= f.file_field :book_image, accept: "image/*" %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :絵本のタイトル %></td>
      <td><%= f.text_field :name, placeholder: "商品名", class: "form-control" %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :あらすじ %></td>
      <td><%= f.text_area :description, placeholder: "ここに説明文を記述します", class: "form-control", rows: 5 %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :カテゴリ %></td>
      <td><%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "--選択してください--", class: "form-control" %></td>
      <td></td>
    </tr>

  </table>
  <div class="actions text-center">
  <% if book.new_record? %>
    <%= f.submit '絵本新規登録', class: "btn btn-dark px-4" %>
  <% else %>
  　<%= f.submit '変更を保存', class: "btn btn-dark px-4" %>
  <% end %>
  </div>
<% end %>
</div>