<h2>絵本新規投稿</h2>
<%= form_with model: @book do |f| %>
  <h3>画像</h3>
  <%= f.file_field :image, accept: "image/*" %>
  <h3>タイトル</h3>
  <%= f.text_field :name %>
  <h3>あらすじ</h3>
  <%= f.text_area :description %>
  <%= f.submit '投稿' %>
<% end %>
