<div class='container'>
  <div class='row'>
    <div class='col-md-3'>

    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>絵本の詳細</h2>

    		<table class='table'>
    		  <tr>
    		    <%= image_tag @book.get_book_image(300, 250), style: "object-fit: cover; width: 450px; height: 300px;" %>
            <td><%= @book.name %></td>
            <td><%= @book.description %></td>
            <td>
              <ul>
                <% @book.categories.each do |category| %>
                  <li><%= category.name %></li>
                <% end %>
              </ul>
            </td>
            <td><%= render'public/favorites/favorite', book: @book %></td>
            <td>
              <p>コメント件数：<%= @book.post_comments.count %></p>
              <% @book.post_comments.each do |post_comment| %>
                <%= post_comment.member.nickname %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
              <% end %>
            </td>
          </tr>
        </table>
      <div>
        <%= form_with model: [@book, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>