<div class='container'>
  <div class='row'>
    <div class='col-md-12 offset-md-1'>
  		<h2 class="row mt-5 mb-5">絵本の詳細</h2>
    		<table class='table'>
    		  <%= image_tag @book.image_url, style: "object-fit: cover; width: 180px; height: 120px;" %>
          <tr>
    		    <td>絵本の名前</td>
            <td><%= @book.title %></td>
          </tr>
          <tr>
    		    <td>絵本の作者</td>
            <td><%= @book.author %></td>
          </tr>
          <tr>
            <td>あらすじ</td>
            <td><%= simple_format(@book.item_caption) %></td>
          </tr>
          <tr>
            <td>カテゴリ</td>
            <td>
              <% @book.categories.each do |category| %>
                <%= category.name %> &emsp; <!-- カテゴリ名とスペースを追加 -->
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= render'public/favorites/favorite', book: @book %></td>
            <td></td>
          </tr>
        </table>
          <p>コメント件数：<span id="comment_count"><%= @book.post_comments.count %></span></p>
        <div id="comment_index">
          <%= render "public/post_comments/index", book: @book %>
        </div>
        <div id="comment-form">
          <%= render "public/post_comments/form", book: @book, post_comment: @post_comment %>
        </div>
        <br>
    </div>
  </div>
</div>