<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>えらんで えほん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://kit.fontawesome.com/79da2bfae2.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/header' %>
    <div class="flex-grow-1">
      <!--<main class="container flex-shrink-0 main-background" style="background-image:url(<%= asset_path "kobanagara35.png" %>); no-repeat center top; background-size: cover;">-->
        <br>
        &emsp;<%= flash[:notice] %>
        <%= yield %>
      </main>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
